<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="title">
				<%= @post.title %>
			</h1>

			<h4 class="date">
				Submitted <%= time_ago_in_words(@post.created_at) %> ago
			</h4>

			<p class="body">
				<%= @post.body %>
			</p>

			<%= link_to "Back to Blog", posts_path, class: "btn btn-default" %>
			<% if user_signed_in? %>
				<%= link_to "Edit Post", edit_post_path, class: "btn btn-primary" %>
				<%= link_to "Delete Post", post_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
			<% end %>
		</div><!-- /.col-xs-12 -->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-xs-12 comments">

			<h3><%= pluralize(@post.comments.count, "Comment") %></h3>
			<%= render @post.comments %>

			<h3>Add a comment:</h3>
			<%= render "comments/form" %>
		</div>
	</div>
</div><!-- /.container -->